<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>SY10 - Identification biométrique au clavier</title>
</head>
<body>

<div class="container">
    <h1>SY10 - Identification biométrique au clavier</h1>
    <button class="button" onclick="window.location.href='/enregistrement'">Enregistrement</button>
    <button class="button" onclick="window.location.href='/identification'">Identification</button>
</div>

</body>
</html>
